//
//  Configuration.xcconfig
//  MapDay
//
//  Created by 이유리 on 7/18/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

NAVER_MAP_KEY = 6gfk9omvf1
KAKAO_API_KEY = f29550c6015979864b87dea8e6d28c94
